template(name="md_icon__demo")
  .component-title MD Icon
  .demo-box
    .demo-group.group--icon
      .demo--icon
        .element-title Cloud
        +md_icon(icon="cloud")
      .demo--icon
        .element-title Check
        +md_icon(icon="check-circle")
      .demo--icon
        .element-title Replay-30
        +md_icon(icon="replay-30")
      .demo--icon
        .element-title Person
        +md_icon(icon="person")
      .demo--icon
        .element-title Flight
        +md_icon(icon="flight")
      .demo--icon
        .element-title Email
        +md_icon(icon="email" badge_count="7")
  +doc_box(
    id="doc-box--md-icon"
    id__tabs="md-icon__tabs"
    tabs=tabs
    name__spacebars="md-icon__spacebars"
    name__jade="md-icon__jade"
    code__spacebars=code__spacebars
    code__jade=code__jade
    api_screen="MD Icon API"
  )

//-/////////////////////////  MD ICON API DOCS  ////////////////////////////////
template(name="md_icon__api")
  h2.api__title MD Icon API
  .api__description
    p An MD Icon is an SVG icon component (cf. iron-icon).
    p
      | Material for Meteor contains all the icons that are part of Polymer's
      | iron-icons set. However, it allows the user to select the icons that the
      | app uses as opposed to loading all available icons. See the
      | 'General use' section for details.
    p
      span.strong
        | The icons included with the Material for Meteor package are provided
        | as a convenience only.
      | There is no implied intention to provide for all possible icon needs
      | with this set. Compatible SVG icons are available from
      a(href="https://design.google.com/icons/" target="_blank") Material Design
      | , the official site,
      a(
        href="https://materialdesignicons.com/"
        target="_blank"
        ) Material Design Icons
      | , a community site, and elsewhere on the Internet.
  .divider--api
  .api__heading API Reference
  .api__template
    .template__label Template
    .template__name md_icon
  .api__section.section--parameters
    .section__title Template parameters
    table.parameters
      thead
        tr
          th.param Parameter
          th.type Type
          th.desc Description
      tbody
        tr
          td.param
            code id
          td.type string
          td.desc The id of the icon element (optional)
        tr
          td.param
            code name
          td.type string
          td.desc The name of the icon element (optional)
        tr
          td.param
            code classes
          td.type string
          td.desc A space-separate list of classes for the icon (optional)
        tr
          td.param
            code title
          td.type string
          td.desc The title attribute of the icon element (optional)
        tr
          td.param
            code badge_count
          td.type string
          td.desc
            | A value that automatically configures the icon as a badged icon
            | (optional)
        tr
          td.param
            code icon
          td.type string
          td.desc The icon identifier that controls the SVG image
  .api__section.section--methods
    .section__title Methods
    .fake-table.methods
      .fake-row.row--method
        .fake-cell.method
          code selectIcons(iconConfigs)
        .fake-cell.desc
          p
            | A server-side function that defines which of the included icons to
            | use in the app.
          p
            code.inline iconConfigs
            | is an array of objects, each of which defines a (sub)set of icons
            | to be selected from the available sets and 'compiled' into the
            | app. The available sets are:
            ul
              li av
              li base
              li communication
              li device
              li editor
              li hardware
              li image
              li maps
              li notification
              li social
          p The structure of iconConfigs is described in General Use.
      .fake-row.row--method
        .fake-cell.method
          code defineIconAssets(assetConfig)
        .fake-cell.desc
          p
            | A server-side function that defines an asset file with SVG icons
            | and the set of icons from that file that are to be 'compiled' for
            | use in the app.
          p
            code.inline assetConfig
            | is an object with two keys,
            code.inline iconsDefinedByG
            | and
            code.inline iconsDefinedBySvg
            | , each of which is an array of objects. Each member of each array
            | defines an asset file, lists the icons by id to be selected from
            | the file, and defines the optional customization applied to each
            | icon id using any of the following keys:
            ul
              li stripPrefix (string)
              li stripSuffix (string)
              li addPrefix (string)
              li addSuffix (string)
              li hyphensOnly (boolean)

  .divider--api
  .api__heading General use
  .api__description
    p
      | Before any icons can be rendered on the screens of the app, all icons to
      | be used in the app must be selected from among those that are included
      | with the package. The package includes (all the) icons available in the
      | Polymer iron-icons distribution.
    p
      | If a desired icon is not in the included set, and the user has the SVG
      | source, then that icon can also be added.
    p
      | At startup, the server reads the icons from these files and compiles the
      | icon metadata needed for the app. It stores this metadata in an array,
      | and serves a copy to any client at client startup.
  .api__section.section--metadata
    .section__title Icon metadata
    .section__description
      p
        | To select icons from the included sets call the
        code.inline selectIcons()
        | function as in the example below.
      p In this example, the user directs the package to select:
        ul
          li
            | all the icons from the
            code.inline base
            | set,
          li
            | four from the
            code.inline communication
            | set,
          li
            | one from the
            code.inline image
            | set.
    +api_box(
      id="md-icon-api--select"
      num__tabs="2"
      tabs=tabs__select
      name__js="md-icon--select__js"
      name__cs="md-icon--select__cs"
      code__js=code__select__js
      code__cs=code__select__cs
    )
    .section__description
      p
        | To define and select custom icons from one or more
        code.inline .svg
        | files, call the
        code.inline defineIconAssets()
        | function.
      p In the example that follows, the user directs the package to extract:
        ul
          li
            | three icons from a file named
            code.inline custom-gs-1.svg
            | which contains icons defined by g tags. The user further requires
            | that any underscores in the icon id be converted to hyphens.
          li
            | four icons from a file named
            code.inline social-gs-2.svg
            | which also contains icons defined by g tags. The user further
            | requires that any underscores in the icon id be converted to hyphens.
          li
            | five icons from a file named
            code.inline custom-svgs.svg
            | which contains icons defined by svg tags. The user further
            | requires that the prefix
            code.inline ic_
            | , and the suffix
            code.inline _24px
            |  be stripped from each icon id, and that the resulting string be
            | prefixed with
            code.inline my-
            | to create the final id stored with the icon. As with the other
            | icons, the user requires that any underscores in the icon id be
            | converted to hyphens.
    +api_box(
      id="md-icon-api--define"
      num__tabs="2"
      tabs=tabs__define
      name__js="md-icon--define__js"
      name__cs="md-icon--define__cs"
      code__js=code__define__js
      code__cs=code__define__cs
    )
  .api__section.section--metadata
    .section__title Icon rendering
    .section__description
      p
        | Once the required icons have been selected for the app, an individual
        | icon can be rendered anywhere on the page using the
        code.inline md_icon
        | template.
    +api_box(
      id="md-icon-api--rendering"
      num__tabs="2"
      tabs=tabs__rendering
      name__spacebars="md-icon--rendering__spacebars"
      name__jade="md-icon--rendering__jade"
      code__spacebars=code__rendering__spacebars
      code__jade=code__rendering__jade
    )
  .api__section.section--styles
    .section__title Icon styles
    .section__description
      p
        | Changes to the icon color or size can be effected by changing the
        | properties of the
        code.inline .md-icon
        | class. At least one additional class is required for selectivity,
        | otherwise all icons will receive the style changes.
    +api_box(
      id="md-icon-api--styles"
      code__css=codeCss__styles
    )
