template(name="md_radio__demo")
  .component-title MD Radio Group and Radio Button
  .demo-box
    .demo-group
      .demo--radio
        +md_radio_group(
          id="quantity-group"
          group="quantity"
          label="Quantity"
          selected="one"
          buttons=quantityButtons
        )
        .md-helper-text Populated by a helper
      .demo--radio
        +md_radio_group(
          id="fruit-group"
          group="fruit"
          label="Fruit"
          selected="oranges"
        )
        .md-helper-text Populated by .appendChild()
        div(data-buttons-for="fruit")
          +md_radio_button(id="mdrb-apples" group="fruit" value="apples" label="Apples" disabled="true")
          +md_radio_button(id="mdrb-oranges" group="fruit" value="oranges" label="Oranges")
          +md_radio_button(id="mdrb-grapes" group="fruit" value="grapes" label="Grapes")
          +md_radio_button(id="mdrb-pears" group="fruit" value="pears" label="Pears")
  +doc_box(
    id="doc-box--md-radio"
    id__tabs="md-radio__tabs"
    tabs=tabs
    name__spacebars="md-radio__spacebars"
    name__jade="md-radio__jade"
    name__js="md-radio__js"
    code__spacebars=code__spacebars
    code__jade=code__jade
    code__js=code__js
    api_screen="MD Radio API"
  )

//- MD Radio API Docs.
template(name="md_radio__api")
  h2.api__title MD Radio API
  +coming_soon__api
